<div class="container" *ngIf="!displayGameAssignment">
  <app-cockpit (serverCreated)="onServerAdded($event)" (bpCreated)="onBlueprintAdded($event)"></app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-danger" (click)="onDestroyFirst()">Destroy First Component</button>
      <button class="btn btn-primary" (click)="onChangeFirst()">Change First Element</button>
      <app-server-element *ngFor="let serverElement of serverElements"
                          [srvElement]="serverElement" [name]="serverElement.name">
        <p #contentParagraph>
          <strong *ngIf="serverElement.type === 'server'" style="color: red">{{ serverElement.content }}</strong>
          <em *ngIf="serverElement.type === 'blueprint'">{{ serverElement.content }}</em>
        </p>
      </app-server-element>
    </div>
  </div>
</div>

<div class="container" *ngIf="displayGameAssignment">
  <h1>Game assignment</h1>
  <app-game-control (gameCreated)="onGameAdded($event)" (gameCleaned)="onGameCleaned()"></app-game-control>
  <br>
  <div class="row" *ngFor="let game of games">
    <app-even *ngIf="game.value % 2 === 0" [value]="game.value"></app-even>
    <app-odd *ngIf="game.value % 2 !== 0" [value]="game.value"></app-odd>
  </div>
</div>




